.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.Button_default {
  background-color: #ececec;
  color: black;
}
.Button_positive {
  background-color: #64c964;
  color: white;
}
.Button_negative {
  background-color: #fd565f;
  color: white;
}
