.App {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  /* border: 1px solid gray; <- 삭제하거나 주석 처리 하세요 */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
