@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

html,
body {
  margin: 0px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  font-family: "Nanum Pen Script";
}

body {
  height: 100%;
}

#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}
